@model IEnumerable<SinExWebApp20273938.Models.Currency>

@{
    ViewBag.Title = "Index";
}

<h2>Currencies</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
    </tr>
}

</table>

<h4>Note : </h4>
<ul>
    <li>CNY stands for Chinese Yuan.</li>
    <li>HKD stands for Hong Kong Dollar.</li>
    <li>MOP stands for Macanese Pataca.</li>
    <li>TWD stands for New Taiwan Dollar.</li>
</ul>